
.notFound-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--clbgc-linear);

}
.notFound-text-container{
    margin-bottom: 60px;
}
.notFound-text1{
    font-family: var(--urbanist-);
    font-weight: bold;
    color: var(--cl-txt);
    font-size: 60px;
}
.notFound-text2{
    font-family: var(--urbanist-);
    color: var(--cl-txt);
    font-size: 40px;
}
