.regio-foto-kerk {
    display: flex;
    position: relative;
    width: 100%;
    box-shadow: 0 30px 60px -30px;
}

.regio-picture-repair {
    display: flex;
    position: relative;
    width: 100%;
    box-shadow: 0 30px 60px -30px;
}


.regio-main-outer-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    position: relative;
}

.regio-outer-container-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}
.regio-inner-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 750px;
    position: absolute;
    margin: 40px 20px 0 690px;
    border: solid 2px var(--cl-rood);
    padding: 40px 20px;
    background-color: var(--cl-bgc-dark);
    opacity: 0.91;
}

.regio-container-info-blok::before {
    content: 'REGIO';
    opacity: 0.5;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    color: var(--cl-txt);
    font-size: 100px;
    left: 580px;
    bottom: 480px;
}

.regio-container-info-blok {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    gap: 100px 40px;
    position: relative;
}

.regio-outer-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 440px;
    height: 440px;
    padding: 10px;
    box-shadow: 0px 30px 60px -30px;
    border: solid 2px var(--cl-rood);
    color: var(--cl-txt);
    background: var(--cl-bgc);
    opacity: 0.8;
    z-index: 1;


}

.regio-h1-1 {
    font-size: 60px;
    margin: 0 20px;
    padding: 0 20px;

}

.regio-h2-1 {
    display: block;
    font-size: 30px;
    margin: 0 20px;
    color: var(--cl-txt);

}

.regio-h2-2 {
    font-size: 40px;
    margin: 0 20px;
    padding: 0 20px;
}

.regio-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 40px;
    font-family: var(--urbanist-);
    color: var(--cl-txt);
    font-size: 18px;
    line-height: 30px;

}

.regio-ul-list-1 {
    /*list-style-type: none;*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    line-height: 30px;
    color: var(--cl-txt);
    font-family: var(--urbanist-);

}

.regio-li-items-1::before {
    content: "\2022";
    color: var(--cl-rood);
    font-weight: bolder;
    font-size: 50px;
    width: 0.5em;
    margin-right: 15px;


}

.regio-text-top5-1 {
    text-transform: uppercase;
    font-size: 20px;
    color: var(--cl-rood)
}

.regio-text-succes-1 {
    margin: 0 40px;
    font-size: 18px;
}

.regio-a-element {
    font-size: 25px;
    font-family: var(--urbanist-);
    color: var(--cl-txt);
}


.regio-outer-container-2 {
    display: flex;

}




