
.top5-outer-container{
background: var(--clbgc-linear);
}
.top5-inner-container{
    display: flex;
    flex-direction: row;
}
.top5-image{
    opacity: 0.8;
}
.top5-outer-container-form{
    margin: 40px 60px;
    background-color: var(--cl-bgc);
}
.top5-inner-container-form{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 60px;
    opacity: 0.7;
    background-color: var(--cl-bgc);
    border: var(--cl-rood) solid 2px;
}
.top5-info-text{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top5-container-places{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: var(--cl-rood) solid 2px;
    margin:5px 10px
}
.top5-places{
    font-family: var(--urbanist-) ;
    color: var(--cl-txt);
    text-decoration: underline ;
    font-size: 25px;
    margin-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/*checkboxes component*/

.top5-info-text{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top5-weather-types{
    display: flex;
    border: var(--cl-rood) solid 2px;
}

/*radiobutton component */

.top5-button-component-container{
    margin-top: 25px;
}

/*button component*/

.top5-container-list{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--cl-bgc);
    border: var(--cl-rood) solid 2px;
}
.top5-list-text{
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-list-places{
    font-family: var(--urbanist-) ;
    color: var(--cl-txt);
    opacity: 0.7;
    text-decoration: underline ;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/*input field component*/
































