
.nav-default {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
    height: 80px;
    background-color: var(--cl-bgc);
    z-index: 3;
}
.nav-outer-container-wheelzzz{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
.nav-container-name-wheelzzz {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 10px;
    padding-left: 24px;
    font-size: xxx-large;
    color: var(--cl-rood);
}

.photo-flag-Limburg {
    margin-left: 30px;
    margin-top: 13px;
}

.login-text-container {
    display: flex;
    position: absolute;
    margin-top: 7px;
    margin-left: 1130px;
}

.login-text {
    font-size: 18px;
    color: var(--cl-rood);
}

.container-france {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 1300px;
    width: 100px;

}

.container-germany {
    display: flex;
    position: absolute;
    margin-top: 10px;
    margin-left: 1410px;
    width: 100px;

}

.hamburger-container {
    display: flex;
    position: absolute;
    margin-left: 390px;
    margin-top: 31px;
    z-index: 2;
}

.nav-container-ul {
    display: flex;
    flex-direction: row;
    flex-basis: 900px;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    z-index: 3;

}
.top5-color {
    font-size: 25px;
    color: var(--cl-rood);
}
.nav-p-tag{
    text-transform: uppercase;
    text-decoration: -webkit-activelink none;
}


